<div class ="container">
    <div class="row">
        <div class="col-xs-3">
<%= render 'users/info', user: @user %>
<%= render 'books/new', book: @newbook %>
</div>

<div class="col-xs-9">
    <h2>Book detail</h2>
    <table class = "table">
    <thead>
        <tr>
            <th></th>
            <th>Title</th>
            <th>body</th>
        </tr>
    </thead>
   <tbody>
        <tr>
        <td>
        <%= link_to user_path(@book.user_id) do %>
        <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, format: 'jpeg' %><br><%= @book.user.name %>
        <% end %>
        </td>
       <td><%= link_to @book.title, book_path(@book) %></td>
        <td><%= @book.body %></td>
        <% if @user == current_user %>
        <td><%= link_to "Edit", edit_book_path(@book), {class: "btn-sm btn-success edit_book_32836"} %></td>
        <td><%= link_to "Destroy", book_path(@book), class:"btn-sm btn-danger destroy_book_32836", method: :delete, data: { confirm: '本当に削除しますか？' } %></td>
        <% end %>
        </tr>
    </tbody>
    </table>
</div>
</div>